@import url('https://fonts.googleapis.com/css2?family=Actor&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    font-family: "Actor", sans-serif;
    background-color: #8DB3EB;
    color: white;
}

header {
    text-align: center;
    h1{
        font-weight: 300;
        font-size: 3rem;
        text-align: center;
    }
    input{
        text-align: start;
        padding: 0.8rem;
        width: 13rem;
        border: none;
        border: 1px solid #ddd;
        border-radius: 2rem;
    }

    section {
        h2 {
            text-align: center;
        }
    }
}

main {
    #world-map-container{
        width: 100%;
        margin: auto;
        padding: 0 5rem;
        box-sizing: border-box;
        svg {
            display: block;
            margin: auto;
            path{
                fill: white;
                stroke: black;
                stroke-width: 0.5px;

                &:hover{
                    fill: rgb(238, 238, 238);
                }
            }
        }
    }
}